/* Header.topbar *****************************************/

@media (max-width: 970px) {
    header.top-bar {
        display: none;
    }
}

/* Nav.side-bar *****************************************/

@media (max-width: 970px) {
    nav.side-bar {
        background: transparent;

        .logo {
            background: #1b1b1b;
            z-index: 20;
            width: 100vw;
        }

        ul#topbar-to-sidebar {
            display: block;
        }

        .menu-to-hide {
            transform: translateX(-200px);
        }
    }
}

/* Section--main *****************************************/

@media (max-width: 1200px) {
    .main {
        .stats .column {
            flex: 75%;

            &:first-child {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 970px) {
    .container {
        margin-top: 80px;
        margin-left: 40px;
    }
}

@media (max-width: 630px) {
    .main .calendar {
        flex-direction: column;

        .arrow {
            width: 100%;
            margin-top: 15px;
            margin-left: 0;
        }

        .rectangle {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex: 100%;

            #right {
                border: none;
                padding: 0;
                text-align: center;
            }

            #left {
                padding: 0;
                text-align: center;
            }

            span img {
                display: block;
                margin: 0;
            }
        }
    }
}

@media (max-width: 500px) {
    .main {
        .stats .column .text {
            h2 {
                margin-right: 150px;
            }
        }
    }
}

/* Section--links *****************************************/

@media (max-width: 1265px) {
    .links {
        ul li {
            flex-direction: column;

            .link {
                opacity: 1;
            }

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-left: 0;

                .icons {
                    margin-left: 0;
                }
            }
        }
    }
}

/* Section--details *****************************************/

@media (max-width: 1240px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    .details table, .payout table {
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border-bottom: 3px solid #e9e9e9;

            td {
                border-bottom: 1px solid #e3e3e3;
                text-align: left;
            }
        }
    }

    td:nth-of-type(1):before {
        content: "Tracker name";
        @include th--styles;
    }

    td:nth-of-type(2):before {
        content: "Initialed date";
        @include th--styles;
    }

    td:nth-of-type(3):before {
        content: "Visits";
        @include th--styles;
    }

    td:nth-of-type(4):before {
        content: "Uniqies";
        @include th--styles;
    }

    td:nth-of-type(5):before {
        content: "Signups";
        @include th--styles;
    }

    td:nth-of-type(6):before {
        content: "FTD";
        @include th--styles;
    }

    td:nth-of-type(7):before {
        content: "Depositors";
        @include th--styles;
    }

    td:nth-of-type(8):before {
        content: "Deposits ($)";
        @include th--styles;
    }

    td:nth-of-type(9):before {
        content: "Payout ($)";
        @include th--styles;
    }

    td:nth-of-type(10):before {
        content: "Turnover";
        @include th--styles;
    }

    td:nth-of-type(11):before {
        content: "Deal";
        @include th--styles;
    }
}

@media (max-width: 630px) {
    .details .calendar , .payout .calendar{
        flex-direction: column;

        .arrow {
            width: 100%;
            margin-top: 15px;
            margin-left: 0;
        }

        .rectangle {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex: 100%;

            #right {
                border: none;
                padding: 0;
                text-align: center;
            }

            #left {
                padding: 0;
                text-align: center;
            }

            span img {
                display: block;
                margin: 0;
            }
        }
    }
}

@media (max-width: 570px) {
    .details .pagination, .payout .pagination {
        .numbers {
            display: flex;
            flex-direction: column;
        }

        svg {
            margin: 15px;
        }

        ul {
            flex-wrap: wrap;

            li {
                margin: 20px 0;
            }
        }
    }
}

/* Section--banners *****************************************/

@media (max-width: 1520px) {
    .banners {
        ul li {
            flex-direction: column;

            .link {
                opacity: 1;
            }

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-left: 0;

                .icons {
                    margin-left: 0;
                }
            }
        }
    }
}

/* Section--personal-data *****************************************/

@media (max-width: 700px) {
    .personal-data {
        .person,
        .contact,
        .wallet,
        .password {
            input {
                width: 150px;
            }
            label {
                width: 100%;
                text-align: center;
            }
            .name,
            .surname,
            .email,
            .phone,
            .skype,
            .icq,
            .msn,
            .wallet-div,
            .pass,
            .repeat {
                flex-direction: column;
                text-align: justify;
            }
        }
    }
}

/* Section--Payout ***********************************************/

@media (max-width: 1240px) {
    .payout table tr {
        td:nth-of-type(1):before {
            content: "Date";
            @include th--styles;
        }
    
        td:nth-of-type(2):before {
            content: "Amount ($)";
            @include th--styles;
        }
    
        td:nth-of-type(3):before {
            content: "Deal";
            @include th--styles;
        }
    
        td:nth-of-type(4):before {
            content: "Account";
            @include th--styles;
        }
    }
}