/* Login *****************************************/

.login {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(41, 41, 41, 0.698);
    z-index: 9999;

    .wrapper {
        position: absolute;
        left: 50%;
        top: 200px;
        transform: translateX(-50%);
        width: 100%;
        max-width: 700px;
        background: #ffffff;
        padding: 10px;

        h1 {
            display: block;
            padding: 0 15px 10px 15px;
            color: #a6a6a6;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 700;
            line-height: 42px;
            text-transform: uppercase;
        }

        .buttons {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding-bottom: 25px;

            div {
                flex-basis: 30%;
                margin: 0 15px;

                svg {
                    width: 14px;
                    height: 14px;
                }
            }

            .name,
            .password {
                position: relative;

                input {
                    padding: 8px 8px 8px 30px;
                    border-radius: 3px;
                    display: block;
                    color: #a6a6a6;
                    font-family: Roboto;
                    font-size: 14px;
                    border: 1px solid #e3e3e3;
                    outline-color: #f58220;
                    box-shadow: 1px 1px #dddddd;
                }

                svg {
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all 0.3s;
                }
            }

            .button {
                text-align: center;
                color: #ffffff;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 300;
                padding: 7px 30px;
                background: #f58220;
                display: inline-block;
                border-radius: 3px;
                transition: all 0.3s;

                &:hover {
                    background: darken(#f58220, 7%);
                    cursor: pointer;
                }
            }
        }

    }
}

/* Message box *****************************************/

.message-box {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(41, 41, 41, 0.698);
    z-index: 9999;

    .wrapper {
        position: absolute;
        left: 50%;
        top: 100px;
        transform: translateX(-50%);
        width: 100%;
        max-width: 900px;
        background: #ffffff;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #e3e3e3;

            h1 {
                display: block;
                padding: 0 15px 0 15px;
                color: #a6a6a6;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 700;
                line-height: 42px;
                text-transform: uppercase;
            }

            svg {
                width: 14px;
                height: 14px;
                fill: #a6a6a6;
                padding: 20px 40px 30px 20px;

                &:hover {
                    fill: #f58220;
                    cursor: pointer;
                }
            }
        }

        .text {
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid #e3e3e3;

            .text-box {
                position: relative;
                display: flex;
                align-items: center;
                flex-basis: 80%;

                svg {
                    width: 14px;
                    height: 14px;
                    fill: #a6a6a6;
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);

                    &:hover {
                        fill: #f58220;
                        cursor: pointer;
                    }
                }

                textarea {
                    resize: none;
                    width: 100%;
                    height: auto;
                    padding: 20px 4px 4px 30px;
                    color: #a6a6a6;
                    font-family: Roboto;
                    font-size: 14px;
                    outline-color: #f58220;
                    border-radius: 3px;
                }
            }
        }

        .box {
            .manager-box {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-bottom: 1px solid #e3e3e3;
                margin-left: 10px;
                margin-bottom: 10px;
                padding-bottom: 20px;

                .info {
                    h2 {
                        display: block;
                        margin-left: 15px;
                        color: #1a1a1a;
                        font-family: Roboto;
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 42px;
                        margin-bottom: 0;
                    }

                    .status {
                        margin-left: 15px;
                        background: rgb(0, 180, 0);
                        border-radius: 3px;
                        display: inline-block;
                        font-family: Roboto;
                        padding: 5px 8px;
                        font-size: 12px;
                        color: #fff;
                    }
                }
            }

            .chat {
                padding: 15px 10px 150px 10px;

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    li {
                        margin: 12px 0;
                        padding: 7px 10px;
                        background: #dddddd;
                        border-radius: 3px;
                        display: inline-block;

                        &:nth-of-type(odd) {
                            background: #f1f1f1;
                        }
                    }
                }
            }
        }

        .button {
            text-align: center;
            color: #ffffff;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 300;
            line-height: 42px;
            padding: 7px 30px;
            margin: 25px;
            background: #f58220;
            border-radius: 3px;
            transition: all 0.3s;

            &:hover {
                background: darken(#f58220, 7%);
                cursor: pointer;
            }
        }

    }
}

/* Logout *****************************************/

.logout {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(41, 41, 41, 0.698);
    z-index: 9999;

    .wrapper {
        position: absolute;
        left: 50%;
        top: 200px;
        transform: translateX(-50%);
        width: 100%;
        max-width: 900px;
        background: #ffffff;

        h1 {
            display: block;
            padding: 10px 15px;
            color: #a6a6a6;
            font-family: Roboto;
            font-size: 24px;
            font-weight: 700;
            line-height: 42px;
        }

        .buttons {
            border-top: 1px solid #e3e3e3;
            padding-top: 15px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            span {
                margin: 0 25px 15px 25px;

                &:first-child {
                    background: #a6a6a6;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 42px;
                    color: #ffffff;
                    padding: 0 40px;
                    border-radius: 3px;
                    transition: all 0.3s;

                    &:hover {
                        background: darken(#a6a6a6, 7%);
                        cursor: pointer;
                    }
                }

                &:last-child {
                    background: #f58220;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 42px;
                    color: #ffffff;
                    padding: 0 40px;
                    border-radius: 3px;
                    transition: all 0.3s;

                    &:hover {
                        background: darken(#f58220, 7%);
                        cursor: pointer;
                    }
                }
            }

        }
    }
}

/* Add banners *****************************************/

.add-banners {
    // display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(41, 41, 41, 0.698);
    z-index: 9999;

    .wrapper {
        position: absolute;
        left: 50%;
        top: 100px;
        transform: translateX(-50%);
        width: 100%;
        max-width: 900px;
        background: #ffffff;

        h1 {
            display: block;
            padding: 5px 15px 10px 10px;
            color: #a6a6a6;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 700;
            line-height: 42px;
            text-transform: uppercase;
            border-bottom: 1px solid #e3e3e3;
        }

        .select-inputs,
        .select-inputs__second {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;

            .box-item {
                flex-basis: 33.33334%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                h2 {
                    color: #808080;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 42px;
                    text-transform: uppercase;
                    letter-spacing: -0.28px;
                    padding: 20px 15px 0 10px;
                    margin-bottom: 3px;
                }

                select {
                    margin-left: 10px;
                    padding: 12px 10px;
                    width: 90%;
                    outline-color: #f58220;
                    font-family: Roboto;
                    font-size: 16px;
                    color: #808080;
                }

                .input {
                    font-family: Roboto;
                    font-size: 16px;
                    width: 90%;

                    input {
                        margin-left: 10px;
                        padding: 13px 10px;
                        width: 100%;
                        outline-color: #f58220;
                        font-family: Roboto;
                        color: #808080;
                    }
                }
            }
        }

        .select-inputs .box-item {

            &:nth-child(1),
            &:nth-child(2) {
                flex-basis: 42%
            }

            &:nth-child(3) {
                flex-basis: 16%;
            }
        }

        .checkboxes {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px;
            height: 300px;

            .box {
                flex-basis: 50%;
                height: 250px;
                overflow: auto;
                h2 {
                    color: #808080;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 42px;
                    text-transform: uppercase;
                    letter-spacing: -0.28px;
                    padding: 0 15px 10px 0;
                    margin-bottom: 3px;
                }

                &:first-child {
                    border-right: 1px solid #e3e3e3;
                    border-top: 1px solid #e3e3e3;
                    border-bottom: 1px solid #e3e3e3;
                }

                &:last-child {
                    padding-left: 10px;
                    border-top: 1px solid #e3e3e3;
                    border-bottom: 1px solid #e3e3e3;
                }
                .box-items {
                    input {
                        margin-right: 12px;
                        margin-bottom: 15px;
                        margin-left: 20px;
                        font-family: Roboto;
                    }
                }
            }
        }
        .link-box {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding-bottom: 20px;
            input {
                width: 60%;
                color: #808080;
                font-family: Roboto;
                font-size: 16px;
                line-height: 42px;
                outline-color: #f58220;
                padding-left: 5px;
            }
            .button.gray {
                text-align: center;
                color: #ffffff;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 300;
                line-height: 42px;
                padding: 3px 30px;
                background: #a6a6a6;
                display: inline-block;
                border-radius: 3px;
                transition: all 0.3s;
                display: flex;
                align-items: center;
        
                &:hover {
                    background: #f58220;
                    cursor: pointer;
                }

                svg {
                    height: 20px;
                    width: 20px;
                    fill: #808080;
                    margin-right: 5px;
                }
            }
            .button:last-child {
                text-align: center;
                color: #ffffff;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 300;
                line-height: 42px;
                padding: 3px 30px;
                background: #f58220;
                display: inline-block;
                border-radius: 3px;
                transition: all 0.3s;
        
                &:hover {
                    background: darken(#f58220, 7%);
                    cursor: pointer;
                }
            }
        }
    }
}

/* Add links *****************************************/

.add-links {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(41, 41, 41, 0.698);
    z-index: 9999;

    .wrapper {
        position: absolute;
        left: 50%;
        top: 100px;
        transform: translateX(-50%);
        width: 100%;
        max-width: 900px;
        background: #ffffff;

        h1 {
            display: block;
            padding: 5px 15px 10px 10px;
            color: #a6a6a6;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 700;
            line-height: 42px;
            text-transform: uppercase;
            border-bottom: 1px solid #e3e3e3;
        }

        .select-inputs {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;

            .box-item {
                flex-basis: 33.33334%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                h2 {
                    color: #808080;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 42px;
                    text-transform: uppercase;
                    letter-spacing: -0.28px;
                    padding: 0 15px 0 10px;
                    margin-bottom: 3px;
                }

                select {
                    margin-left: 10px;
                    padding: 12px 10px;
                    width: 90%;
                    outline-color: #f58220;
                    font-family: Roboto;
                    font-size: 16px;
                    color: #808080;
                }
                select.languages {
                    padding-left: 60px;
                }

                .input {
                    font-family: Roboto;
                    font-size: 16px;
                    width: 90%;

                    input {
                        margin-left: 10px;
                        padding: 13px 10px;
                        width: 100%;
                        outline-color: #f58220;
                        font-family: Roboto;
                        color: #808080;
                    }
                }
            }
        }

        .select-inputs .box-item {
            flex-basis: 33.3334%;
        }

        .checkboxes {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px;
            height: 300px;
            overflow: auto;
            border-top: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3;
            margin: 20px auto;
            h2 {
                flex-basis: 100%;
                color: #808080;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 700;
                line-height: 42px;
                text-transform: uppercase;
                letter-spacing: -0.28px;
                padding: 0 15px 10px 0;
                margin-bottom: 3px;
            }

            .box {
                flex-basis: 33.3334%;
                height: 250px;
                overflow: auto;
                .box-items {
                    input {
                        margin-right: 12px;
                        margin-bottom: 15px;
                        margin-left: 20px;
                        font-family: Roboto;
                    }
                }
            }
        }
        .link-box {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding-bottom: 20px;
            input {
                width: 60%;
                color: #808080;
                font-family: Roboto;
                font-size: 16px;
                line-height: 42px;
                outline-color: #f58220;
                padding-left: 5px;
            }
            .button.gray {
                text-align: center;
                color: #ffffff;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 300;
                line-height: 42px;
                padding: 3px 30px;
                background: #a6a6a6;
                display: inline-block;
                border-radius: 3px;
                transition: all 0.3s;
                display: flex;
                align-items: center;
        
                &:hover {
                    background: #f58220;
                    cursor: pointer;
                }

                svg {
                    height: 20px;
                    width: 20px;
                    fill: #808080;
                    margin-right: 5px;
                }
            }
            .button:last-child {
                text-align: center;
                color: #ffffff;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 300;
                line-height: 42px;
                padding: 3px 30px;
                background: #f58220;
                display: inline-block;
                border-radius: 3px;
                transition: all 0.3s;
        
                &:hover {
                    background: darken(#f58220, 7%);
                    cursor: pointer;
                }
            }
        }
    }
}