@import 'variables';
@import 'mixins';

/* Login *****************************************/

.login {
    // display: none;
    position: absolute;
    left: 0;
    top: -2000px;
    width: 100%;
    height: 100vh;
    background: $dark-bg;
    z-index: 9999;
    transition: all $transition-time;

    .wrapper {
        position: absolute;
        left: 50%;
        top: 200px;
        transform: translateX(-50%);
        width: 100%;
        max-width: 700px;
        background: $white;
        padding: 10px;

        h1 {
            display: block;
            padding: 0 15px 10px 15px;
            color: $subtle-gray;
            font-family: $main-font;
            font-size: 16px;
            font-weight: 700;
            line-height: 42px;
            text-transform: uppercase;
        }

        .buttons {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding-bottom: 25px;

            div {
                flex-basis: 30%;
                margin: 0 15px;

                svg {
                    width: 14px;
                    height: 14px;
                }
            }

            .name,
            .password {
                position: relative;

                input {
                    padding: 8px 8px 8px 30px;
                    border-radius: 3px;
                    display: block;
                    color: $subtle-gray;
                    font-family: $main-font;
                    font-size: 14px;
                    border: 1px solid $border-color;
                    outline-color: $main-orange;
                }

                svg {
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all $transition-time;
                }
            }

            .button {
                text-align: center;
                color: $white;
                font-family: $main-font;
                font-size: 18px;
                font-weight: 300;
                padding: 7px 30px;
                background: $main-orange;
                display: inline-block;
                border-radius: 3px;
                transition: all $transition-time;

                &:hover {
                    background: darken($main-orange, 7%);
                    cursor: pointer;
                }
            }
        }

    }
}

/* Message box *****************************************/

.message-box {
    // display: none;
    position: absolute;
    left: 0;
    top: -2000px;
    width: 100%;
    height: 100vh;
    background: $dark-bg;
    z-index: 9999;
    transition: all $transition-time;

    .wrapper {
        position: absolute;
        left: 50%;
        top: 100px;
        transform: translateX(-50%);
        width: 100%;
        max-width: 900px;
        background: $white;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $border-color;

            h1 {
                display: block;
                padding: 0 15px 0 15px;
                color: $subtle-gray;
                font-family: $main-font;
                font-size: 16px;
                font-weight: 700;
                line-height: 42px;
                text-transform: uppercase;
            }

            svg {
                width: 18px;
                height: 18px;
                fill: $subtle-gray;
                margin-right: 20px;

                &:hover {
                    fill: $main-orange;
                    cursor: pointer;
                }
            }
        }

        .text {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-top: 1px solid $border-color;

            .text-box {
                position: relative;
                display: flex;
                align-items: center;
                flex-basis: 80%;

                svg {
                    width: 14px;
                    height: 14px;
                    fill: $subtle-gray;
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);

                    &:hover {
                        fill: $main-orange;
                        cursor: pointer;
                    }
                }

                textarea {
                    resize: none;
                    width: 100%;
                    height: auto;
                    padding: 20px 4px 4px 30px;
                    color: $subtle-gray;
                    font-family: $main-font;
                    font-size: 14px;
                    outline-color: $main-orange;
                    border-radius: 3px;
                }
            }

            .button {
                text-align: center;
                color: $white;
                font-family: $main-font;
                font-size: 18px;
                font-weight: 300;
                line-height: 42px;
                padding: 7px 30px;
                margin: 25px;
                background: $main-orange;
                border-radius: 3px;
                transition: all $transition-time;

                &:hover {
                    background: darken($main-orange, 7%);
                    cursor: pointer;
                }
            }
        }

        .box {
            .manager-box {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-bottom: 1px solid $border-color;
                margin-left: 10px;
                margin-bottom: 10px;
                padding-bottom: 20px;

                .info {
                    h2 {
                        display: block;
                        margin-left: 15px;
                        color: $dark;
                        font-family: $main-font;
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 42px;
                        margin-bottom: 0;
                    }

                    .status {
                        margin-left: 15px;
                        background: $green;
                        border-radius: 3px;
                        display: inline-block;
                        font-family: $main-font;
                        padding: 5px 8px;
                        font-size: 12px;
                        color: $white;
                    }
                }
            }

            .chat {
                padding: 15px 10px 150px 10px;

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    li {
                        margin: 12px 0;
                        padding: 7px 10px;
                        background: $grayish;
                        border-radius: 3px;
                        display: inline-block;

                        &:nth-of-type(odd) {
                            background: $white-2;
                        }
                    }
                }
            }
        }
    }
}

/* Logout *****************************************/

.logout {
    // display: none;
    position: absolute;
    left: 0;
    top: -2000px;
    width: 100%;
    height: 100vh;
    background: $dark-bg;
    z-index: 9999;
    transition: all $transition-time;

    .wrapper {
        position: absolute;
        left: 50%;
        top: 200px;
        transform: translateX(-50%);
        width: 100%;
        max-width: 900px;
        background: $white;

        h1 {
            display: block;
            padding: 10px 15px;
            color: $subtle-gray;
            font-family: $main-font;
            font-size: 24px;
            font-weight: 700;
            line-height: 42px;
        }

        .buttons {
            border-top: 1px solid $border-color;
            padding-top: 15px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            span {
                margin: 0 25px 15px 25px;

                &:first-child {
                    background: $subtle-gray;
                    font-family: $main-font;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 42px;
                    color: $white;
                    padding: 0 40px;
                    border-radius: 3px;
                    transition: all $transition-time;

                    &:hover {
                        background: darken($subtle-gray, 7%);
                        cursor: pointer;
                    }
                }

                &:last-child {
                    background: $main-orange;
                    font-family: $main-font;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 42px;
                    color: $white;
                    padding: 0 40px;
                    border-radius: 3px;
                    transition: all $transition-time;

                    &:hover {
                        background: darken($main-orange, 7%);
                        cursor: pointer;
                    }
                }
            }

        }
    }
}

/* Add banners *****************************************/

.add-banners {
    // display: none;
    position: absolute;
    left: 0;
    top: -2000px;
    width: 100%;
    height: 100vh;
    background: $dark-bg;
    z-index: 9999;
    transition: all $transition-time;

    .wrapper {
        position: absolute;
        left: 50%;
        top: 100px;
        transform: translateX(-50%);
        width: 100%;
        max-width: 900px;
        background: $white;

        .header {
            position: relative;
            h1 {
                display: block;
                padding: 5px 15px 10px 10px;
                color: $subtle-gray;
                font-family: $main-font;
                font-size: 16px;
                font-weight: 700;
                line-height: 42px;
                text-transform: uppercase;
                border-bottom: 1px solid $border-color;
            }
    
            svg {
                position: absolute;
                right: 40px;
                top: 16px;
                width: 18px;
                height: 18px;
                fill: $subtle-gray;
    
                &:hover {
                    fill: $main-orange;
                    cursor: pointer;
                }
            }
        }

        .select-inputs,
        .select-inputs__second {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;

            .box-item {
                flex-basis: 33.33334%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                h2 {
                    color: $gray;
                    font-family: $main-font;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 42px;
                    text-transform: uppercase;
                    letter-spacing: -0.28px;
                    padding: 20px 15px 0 10px;
                    margin-bottom: 3px;
                }

                select {
                    margin-left: 10px;
                    padding: 12px 10px;
                    width: 90%;
                    outline-color: $main-orange;
                    font-family: $main-font;
                    font-size: 16px;
                    color: $gray;

                    svg {
                        width: 20px;
                        height: 15px;
                        position: absolute;
                        left: 5px;
                        top: 5px;
                    }
                }

                .input {
                    font-family: $main-font;
                    font-size: 16px;
                    width: 90%;

                    input {
                        margin-left: 10px;
                        padding: 13px 10px;
                        width: 100%;
                        outline-color: $main-orange;
                        font-family: $main-font;
                        color: $gray;
                    }
                }
            }
        }

        .select-inputs .box-item {

            &:nth-child(1),
            &:nth-child(2) {
                flex-basis: 42%
            }

            &:nth-child(3) {
                flex-basis: 16%;
            }
        }

        .checkboxes {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px;
            height: 300px;

            .box {
                flex-basis: 50%;
                height: 250px;
                overflow: auto;

                h2 {
                    color: $gray;
                    font-family: $main-font;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 42px;
                    text-transform: uppercase;
                    letter-spacing: -0.28px;
                    padding: 0 15px 10px 0;
                    margin-bottom: 3px;
                }

                &:first-child {
                    border-right: 1px solid $border-color;
                    border-top: 1px solid $border-color;
                    border-bottom: 1px solid $border-color;
                }

                &:last-child {
                    padding-left: 10px;
                    border-top: 1px solid $border-color;
                    border-bottom: 1px solid $border-color;
                }

                .box-items {
                    li {
                        flex-basis: 33.33334%;
                        display: flex;
                        align-items: center;
                        margin: 5px 0;
                        transition: all $transition-time;

                        label {
                            font-family: $main-font;
                            font-size: 15px;
                        }

                        input {
                            margin: 10px 20px 10px 20px;
                            font-family: $main-font;
                        }

                        &:hover {
                            background: $subtle-white;
                            cursor: pointer;
                        }

                        &:hover a svg {
                            opacity: 1;
                        }

                        a {
                            margin-left: auto;
                            margin-right: 10px;

                            svg {
                                opacity: 0;
                                fill: $gray;
                                width: 15px;
                                height: 15px;
                                transition: all $transition-time;

                                &:hover {
                                    fill: $main-orange;
                                }
                            }
                        }
                    }

                    input {
                        margin-right: 12px;
                        margin-bottom: 15px;
                        margin-left: 20px;
                        font-family: $main-font;
                    }
                }
            }
        }

        .link-box {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding-bottom: 20px;

            input {
                width: 60%;
                color: $gray;
                font-family: $main-font;
                font-size: 16px;
                line-height: 42px;
                outline-color: $main-orange;
                padding-left: 5px;
            }

            .button.gray {
                text-align: center;
                color: $white;
                font-family: $main-font;
                font-size: 18px;
                font-weight: 300;
                line-height: 42px;
                padding: 3px 30px;
                background: $subtle-gray;
                display: inline-block;
                border-radius: 3px;
                transition: all $transition-time;
                display: flex;
                align-items: center;

                &:hover {
                    background: $main-orange;
                    cursor: pointer;
                }

                svg {
                    height: 20px;
                    width: 20px;
                    fill: $gray;
                    margin-right: 5px;
                }
            }

            .button:last-child {
                text-align: center;
                color: $white;
                font-family: $main-font;
                font-size: 18px;
                font-weight: 300;
                line-height: 42px;
                padding: 3px 30px;
                background: $main-orange;
                display: inline-block;
                border-radius: 3px;
                transition: all $transition-time;

                &:hover {
                    background: darken($main-orange, 7%);
                    cursor: pointer;
                }
            }
        }
    }
}

/* Add links *****************************************/

.add-links {
    // display: none;
    position: absolute;
    left: 0;
    top: -2000px;
    width: 100%;
    height: 100vh;
    background: $dark-bg;
    z-index: 9999;
    transition: all $transition-time;

    .wrapper {
        position: absolute;
        left: 50%;
        top: 100px;
        transform: translateX(-50%);
        width: 100%;
        max-width: 900px;
        background: $white;

            position: absolute;
            h1 {
                display: block;
                padding: 5px 15px 10px 10px;
                color: $subtle-gray;
                font-family: $main-font;
                font-size: 16px;
                font-weight: 700;
                line-height: 42px;
                text-transform: uppercase;
                border-bottom: 1px solid $border-color;
            }
            svg#closeLinks {
                position: absolute;
                right: 40px;
                top: 27px;
                width: 18px;
                height: 18px;
                fill: $subtle-gray;
    
                &:hover {
                    fill: $main-orange;
                    cursor: pointer;
                }
        }

        

        .select-inputs {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;

            .box-item {
                flex-basis: 33.33334%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                h2 {
                    color: $gray;
                    font-family: $main-font;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 42px;
                    text-transform: uppercase;
                    letter-spacing: -0.28px;
                    padding: 0 15px 0 10px;
                    margin-bottom: 3px;
                }

                select {
                    margin-left: 10px;
                    padding: 12px 10px;
                    width: 90%;
                    outline-color: $main-orange;
                    font-family: $main-font;
                    font-size: 16px;
                    color: $gray;
                }

                .input {
                    font-family: $main-font;
                    font-size: 16px;
                    width: 90%;

                    input {
                        margin-left: 10px;
                        padding: 13px 10px;
                        width: 100%;
                        outline-color: $main-orange;
                        font-family: $main-font;
                        color: $gray;
                    }
                }
            }
        }

        .select-inputs .box-item {
            flex-basis: 33.3334%;
        }

        .checkboxes {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px;
            height: 300px;
            overflow: auto;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            margin: 20px auto;

            h2 {
                flex-basis: 100%;
                color: $gray;
                font-family: $main-font;
                font-size: 16px;
                font-weight: 700;
                line-height: 42px;
                text-transform: uppercase;
                letter-spacing: -0.28px;
                padding: 0 15px 10px 0;
                margin-bottom: 3px;
            }

            .box {
                height: 250px;

                .box-items {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    overflow: auto;

                    li {
                        flex-basis: 33.33334%;
                        display: flex;
                        align-items: center;
                        margin: 5px 0;
                        transition: all $transition-time;

                        label {
                            font-family: $main-font;
                            font-size: 15px;
                        }

                        input {
                            margin: 10px 20px 10px 20px;
                            font-family: $main-font;
                        }

                        &:hover {
                            background: $subtle-white;
                            cursor: pointer;
                        }

                        &:hover a svg {
                            opacity: 1;
                        }

                        a {
                            margin-left: auto;
                            margin-right: 10px;

                            svg {
                                opacity: 0;
                                fill: $gray;
                                width: 15px;
                                height: 15px;
                                transition: all $transition-time;

                                &:hover {
                                    fill: $main-orange;
                                }
                            }
                        }
                    }

                }
            }
        }

        .link-box {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding-bottom: 20px;

            input {
                width: 60%;
                color: $gray;
                font-family: $main-font;
                font-size: 16px;
                line-height: 42px;
                outline-color: $main-orange;
                padding-left: 5px;
            }

            .button.gray {
                text-align: center;
                color: $white;
                font-family: $main-font;
                font-size: 18px;
                font-weight: 300;
                line-height: 42px;
                padding: 3px 30px;
                background: $subtle-gray;
                display: inline-block;
                border-radius: 3px;
                transition: all $transition-time;
                display: flex;
                align-items: center;

                &:hover {
                    background: $main-orange;
                    cursor: pointer;
                }

                svg {
                    height: 20px;
                    width: 20px;
                    fill: $gray;
                    margin-right: 5px;
                }
            }

            .button:last-child {
                text-align: center;
                color: $white;
                font-family: $main-font;
                font-size: 18px;
                font-weight: 300;
                line-height: 42px;
                padding: 3px 30px;
                background: $main-orange;
                display: inline-block;
                border-radius: 3px;
                transition: all $transition-time;

                &:hover {
                    background: darken($main-orange, 7%);
                    cursor: pointer;
                }
            }
        }
    }
}

/* Range input ******************************************/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 13.8px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.5px;
    cursor: pointer;
    background: #d4d4d4;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 30px;
    width: 35px;
    background: #f58220;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 15px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: relative;
    &::before {
        content: 'nr';
        position: absolute;
        bottom: 50px;
        left: 50%;
        font-size: 150px;
        transform: translateX(-50%);
        color: red;
    }
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #e1e1e1;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #d4d4d4;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    height: 36px;
    width: 16px;
    background: #f58220;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #c7c7c7;
  }
  input[type=range]::-ms-fill-upper {
    background: #d4d4d4;
  }
  input[type=range]::-ms-thumb {
    height: 36px;
    width: 16px;
    background: #f58220;
    cursor: pointer;
    height: 8.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #d4d4d4;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #e1e1e1;
  }
  

  /* Checkboxes *******************************************/
  
