$main-font: Roboto;

$white: #ffffff;
$white-2: #f1f1f1;
$subtle-white: #f4f4f4;
$subtle-white-2: #f8f8f8;
$border-color: #e3e3e3;
$grayish: #d4d4d4;

$subtle-gray: #a6a6a6;
$gray: #818181;
$dark-gray: #333333;

$dark: #111111;
$dark-2: #282828;

$hover: rgba(177, 191, 191, 0.116);
$dark-bg: rgba(41, 41, 41, 0.698);;

$link-blue: #56819f;
$main-orange: #f58220;
$red: #ff0000;
$green: rgb(0, 180, 0);

$transition-time: 0.3s;