@import 'layout';
@import 'variables';
@import 'mixins';
@import 'normalize';

/* Global + reusable **************************************************/

.container {
    max-width: 1300px;
    margin-top: 120px;
    margin-left: 200px;
    margin-right: 30px;
    padding: 0 200px;
}

/* Header ************************************************************/

header {
    position: fixed;
    top: 0;
    right: 0;
    height: 80px;
    background: rebeccapurple;
    width: calc(100vw - 160px);
}

/* Nav ************************************************************/

nav {
    width: 160px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: red;
}

.container {
    background: blue;

    .content {
        background: rgba(255, 255, 0, 0.562);
        height: 600px;
    }

    .cont2 {
        background: rgba(0, 128, 0, 0.589);
        height: 600px;
    }
}