@import 'layout';
@import 'variables';
@import 'mixins';
@import 'normalize';

/* Global + reusable **************************************************/

.container {
    margin: 0 auto;
    width: 1300px;
    width: 100%;
}

/* Header ************************************************************/

header {
    position: fixed;
    top: 0;
    right: 0;
    height: 80px;
    background: rebeccapurple;
    width: calc(100vw - 160px);
}

/* Nav ************************************************************/

nav {
    width: 160px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: red;
}
