@import 'layout';
@import 'variables';
@import 'mixins';
@import 'normalize';

/* Global + reusable **************************************************/
* {
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1700px;
    margin-top: 120px;
    margin-left: 240px;
    margin-right: 30px;
    padding: 0 200px;
}

/* Header ************************************************************/

header.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 80px;
    background: #ffffff;
    width: calc(100vw - 200px);
    z-index: 20;
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li {
            padding: 20px 15px;
            display: flex;
            align-items: center;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                width: 1px;
                height: 80px;
                background: #f4f4f4;
                left: 0;
                top: 0;
            }

            a {
                color: #56819f;
                display: flex;
                align-items: center;

                img {
                    margin-right: 15px;
                    margin-left: 15px;
                }

                #value {
                    color: #9c9c9c;
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 42px;
                }

                #person {
                    color: #56819f;
                    font-family: Roboto;
                    font-size: 13px;
                    font-weight: 300;
                    line-height: 42px;
                }
            }
            #bell {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    background: #f58220;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    right: 10px;
                    top: -5px;
                }
            }
        }
    }
}

/* Nav ************************************************************/

nav.side-bar {
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: #1b1b1b;
    z-index: 20;

    ul li {
        display: flex;
        align-items: center;
        color: #999999;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 42px;

        a {
            color: #818181;
            padding: 5px 0;
            width: 100%;
            border-left: 5px solid #1b1b1b;

            img {
                margin-right: 20px;
                margin-left: 20px;
                width: 12px;
            }
        }

        a.active {
            color: #ffffff;
            background: #282828;
            border-left: 5px solid #f58220;
            padding: 5px 0;
        }
    }

    h2 {
        color: #808080;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        line-height: 42px;
        text-transform: uppercase;
        letter-spacing: -0.28px;
        padding: 20px 60px 5px 20px;
        border-top: 1px solid #333333;
    }

    .manager {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background: #04ae00;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            left: 60px;
            top: 0;
        }

        span {
            color: #56819f;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 300;
            line-height: 42px;
        }
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    .brand {
        padding-right: 50px;
    }
}

/* Section--Main ******************************************************************/

.main {
    background: #ffffff;
    box-shadow: 1px 1px 5px #d4d4d4;
    margin-bottom: 35px;

    h1 {
        transform: translateX(-160px);
        display: block;
        padding: 25px 0 0 0;
        color: #a6a6a6;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 42px;
        text-transform: uppercase;
    }

    .calendar {
        text-align: center;
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
        padding: 30px 0;

        .rectangle {
            display: inline-block;
            padding: 5px 20px;
            border: 1px solid #e3e3e3;
            max-width: 350px;

            span {
                flex: 33.3334%;
            }

            #right {
                border-left: 1px solid #e3e3e3;
                padding-left: 10px;
                color: #333333;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 300;
                line-height: 42px;
            }

            #left {
                padding-right: 50px;
                color: #333333;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 300;
                line-height: 42px;
            }

            img {
                margin-left: 33px;
            }
        }

        .arrow {
            background: #f58220;
            display: inline-block;
            padding: 16px 17px;
            border-radius: 3px;
            margin-left: 10px;
        }
    }

    .stats {
        display: flex;
        justify-content: space-between;
        margin: 40px auto 80px auto;
        flex-wrap: wrap;

        .column {
            display: flex;
            flex-direction: column;
            margin: 0 60px;
            flex: 37%;

            .text {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #e3e3e3;

                h2 {
                    margin-right: 200px;
                    color: #a6a6a6;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 42px;
                }

                span {
                    color: #333333;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 42px;
                }
            }
        }
    }

    .chart {
        padding-bottom: 60px;
        h2 {
            color: #a6a6a6;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 700;
            line-height: 42px;
        }

        .chart-img {
            img {
                display: block;
                margin: 0 auto;
                object-fit: cover;
            }
        }
    }
}